@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wdth,wght@62.5..100,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "vue3-emoji-picker/css";
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  font-family: "Nunito", sans-serif;
}

.container {
  position: relative;
  max-width: 300px;
  width: 80%;
}

.select-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #fff;
  width: 90%;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  overflow: auto;
}

.select-btn .btn-text {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

.close-icon {
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: lightgray;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: absolute;
  right: 2px;
  top: 10px;
  cursor: pointer;
}

.close-icon:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.select-btn.open .arrow-dwn {
  transform: rotate(-180deg);
}
.select-btn.open ~ .list-items {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

.list-items {
  position: absolute;
  max-width: 320px;
  max-height: 300px;
  overflow: auto;
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  word-break: break-all;
}

.list-items .item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 70px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0px 12px;
  border-radius: 8px;
}
.list-items .item:hover {
  background-color: #e7edfe;
}
.item .item-text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}

.item.checked .check-icon {
  transform: scale(1);
}

.item.checked .check-icon {
  transform: scale(1);
}

.logout-btn {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-icon {
  fill: #082f49; /* Initial icon color */
  transition: fill 0.3s ease, stroke-width 0.3s ease, filter 0.3s ease;
}

.logout-btn:hover .logout-icon {
  fill: #ff4d4f; /* Change color on hover */
  /* Apply stroke color same as fill */

  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}

.animated-background {
  background-size: 400%;
  -webkit-animation: animation 3s ease infinite;
  -moz-animation: animation 3s ease infinite;
  animation: animation 3s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
